/* Start variables */
:root {
    --main-color: #2196F3;
}
/* End variables */
/* Start main rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {scroll-behavior: smooth;}
body {direction: ltr;font-family: Arial;background-color: #FFF;}
h2 {
    text-align: center;
    font-size: 30px;
    font-weight: normal;
    margin-bottom: 80px;
    cursor: pointer;
}
section {padding: 80px 0;}
ul {list-style: none;}
a {text-decoration: none;color: inherit;}
.container {padding: 0 20px;margin: 0 auto;}
@media (min-width: 768px) {.container {width: 750px;}}
@media (min-width: 992px) {.container {width: 970px;}}
@media (min-width: 1200px) {.container {width: 1170px;}}
/* End main rules */
/* Start header */
header {
    box-shadow: 0 0 5px 0px #555;
    background-color: #FFF;
    position: relative;
}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .container h1 {font-weight: normal;cursor: pointer;}
header .container h1 > span {color: var(--main-color);}
header .container nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    column-gap: 25px;
    font-size: 18px;
}
@media (max-width: 767px) {
    header .container {flex-direction: column;padding: 15px;}
    header .container h1 {margin-top: 0;font-size: 28px;}
    header .container nav ul {font-size: 14px;}
}
/* End header  */
/* Start landing section */
.landing {
    background-color: #AAA;
    background-image: linear-gradient(318deg, #004983, var(--main-color));
    padding: 0;
}
.landing .container {
    height: 35em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
}
.landing .container > p {
    font-size: 30px;  
    cursor: pointer;
    position: relative;
    animation: up-and-down 2000ms linear infinite;
}
.landing .container > p i {margin-left: 20px;}
@media (max-width: 767px) {
    .landing .container > p {font-size: 23px;}
}
/* End landing section */
/* Start services */
.services {background-color: #FFF;}
.services .container .services-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 60px 60px;
}
.services .container .services-container .serv {
    box-shadow: 0 0 5px 2px #DDD;
    display: flex;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
}
.services .container .services-container .serv:hover {position: relative;animation: up-and-down 2000ms linear infinite;}
.services .container .services-container .serv .text-container {width: 75%;padding: 15px;}
.services .container .services-container .serv .text-container h3 {
    color: var(--main-color);
    font-weight: normal;
    margin-bottom: 10px;
}
.services .container .services-container .serv .icon-container {
    width: 30%;
    background-color: var(--main-color);
    color: #FFF;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 767px) {
    .services .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .services .container .services-container .serv .icon-container {width: 40%;}
}
/* End services */
/* Start skills section */
.skills {
    background-color: #004983;
    background-image: linear-gradient(318deg, #004983, var(--main-color));
    color: #FFF;
}
.skills .skill {margin-bottom: 40px;}
.skills .skill h3 {
    margin-bottom: 15px;
    font-weight: normal;
    font-size: 20px;
    text-transform: uppercase;
}
.skills .skill .prog {
    background-color: #FFF;
    height: 30px;
    box-shadow: 0 0 5px 0 #000;
    border-radius: 3px;
}
.skills .skill .prog span {
    display: block;
    background-color: var(--main-color);
    width: 0;
    height: 100%;
    position: relative;
    border-radius: 3px 0 0 3px;
    transition: width 1s linear;
}
.skills .skill .prog span::before {
    content: attr(data-progress);
    position: absolute;
    color: white;
    background-color: black;
    top: -40px;
    right: -18px;
    padding: 4px 0;
    width: 40px;
    text-align: center;
    border-radius: 4px;
}
.skills .skill .prog span::after {
    content: "";
    position: absolute;
    border: solid 8px;
    border-color: black transparent transparent;
    right:  -8px;
    top: -15px;
}
@media (min-width: 1199px) {
    .skills .container .skills-container {width: 85%;margin: auto}
}
/* End skills section */
/* Start our team */
.our-team .container .member-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 60px 60px;
}
.our-team .container .member {
    box-shadow: 0 0 5px 0px #333;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    background-color: #004983;
    background-image: linear-gradient(318deg, #004983, var(--main-color));
    padding: 20px;
}
.our-team .container .member:hover {position: relative;animation: up-and-down 2000ms linear infinite;}
.our-team .container .member i {
    position: absolute;
    right: 0%;
    top: 0%;
    transform: translate(40%, -40%);
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #999;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 7px #FFF solid;
    color: #FFF;
    font-size: 25px;
}
.our-team .container .member h4 {font-weight: normal;font-size: 22px;color: #FFF;}
.our-team .container .member h5 {
    font-weight: normal;
    font-size: 18px;
    margin: 10px 0 10px 20px;
}
.our-team .container .member p {margin-left: 20px;color: #FFF;}
@media (max-width: 767px) {
    .our-team .container .member {width: 95%;}
}
/* End our team */
/* Start contact us */
.contact-us {
    background-color: #004983;
    background-image: linear-gradient(318deg, #004983, var(--main-color));
    color: #FFF;
}
.contact-us .container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 50px;
}
.contact-us .container form input, textarea {
    width: 300px;
    padding: 10px;
    border: none;
    box-shadow: 0 0 5px 0 #000;
    border-radius: 3px;
}
.contact-us .container form input, textarea:focus {outline: none;}
.contact-us .container form textarea {max-width: 300px;min-width: 300px;min-height: 80px;}
.contact-us .container form input[type="submit"] {
    background-color: #004983;
    color: #FFF;
    font-size: 20px;
    cursor: pointer;
}
.contact-us .container form input[type="submit"]:hover {background-color: #004d8b;}
/* End contact us */
/* Start footer */
footer {padding: 20px 0;background-color: #000;color: #FFF;}
footer .container {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 50px;
}
footer .container p {font-size: 25px;}
footer .container p > span {cursor: pointer;position: relative;}
footer .container p > span > span {color: var(--main-color);}
footer .container .icons-container {display: flex;column-gap: 15px;}
footer .container .icons-container i {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    width: 30px;
    height: 30px;
    background-color: #313131;
    color: #b9b9b9;
    cursor: pointer;
}
footer .container .icons-container i[class="fa fa-whatsapp fa"] {font-weight: bold;}
footer .container .icons-container i:hover {color: #FFF;}
footer .container .icons-container i[class="fa fa-facebook fa"]:hover {background-color: rgb(24, 85, 255);}
footer .container .icons-container i[class="fa fa-whatsapp fa"]:hover {background-color: #393;}
footer .container .icons-container i[class="fa fa-linkedin fa"]:hover {background-color: rgb(69, 165, 255);}
@media (max-width: 767px) {
    footer .container {
        flex-direction: column;
        justify-content: space-between;
        row-gap: 18px;
    }
    footer .container p {font-size: 18px;}
}
/* End footer */
/* Start Animation */
@keyframes up-and-down {
    0%,
    100% {
        top: 10px;
    }
    50% {
        top: -10px;
    }
}
/* End Animation */